.ipynb_checkpoints/
irr_grn/netfiles/*.bnet
irr_grn/netfiles/*.cnet
irr_grn/netfiles/*.net
irr_grn/netfiles/*.txt
irr_grn/attfiles/*.txt
irr_grn/attfiles/*.csv
irr_grn/figs/*.svg
irr_grn/figs/*.png
irr_grn/figs/*.eps
irr_grn/results/*.txt
bns_*/
bns_*.zip

